#=========================== PROJECT VARIABLES ==========================#

# Имя проекта
PROJECTNAME=client

# Docker подсеть (автогенерируется)
DOCKER_SUBNET=172.20.0.0/16
DOCKER_GATEWAY=172.20.0.1
DOCKER_NETWORK_PREFIX=172.21

# Имя окружения для Docker Compose
COMPOSE_PROJECT_NAME=client

# Тип сервера CLIENT | AI | VOICE - НЕ РАБОТАЕТ
TYPE_SERVER=

# Основной домен приложения
DOMAIN=

# Пути
PATH_APP_DOCKER=/app/docker
PATH_APP_DOCKER_LOGS=/app/docker/logs
PATH_APP_STARTER=/app/starter
PATH_APP_PROJECT=/app/code
PATH_APP_CODE=/app/code
CLIENT_DATA_PATH=
# Испольтзуеттся для DOCKER IN DOCKER
# PATH_VAR_RUN_DOCKER.SOCK=/var/run/docker.sock

#=========================== VPN SETTINGS ===============================#

# Необходимость подключения VPN
# Возможные значения: required | optional | disabled
VPN_REQUIRED=optional  

# Конфигурационный файл OpenVPN
VPN_CONFIG=./configs/vpn/config.ovpn

VPN_USERNAME=
VPN_PASSWORD=

#=========================== PHP CONFIGURATION ==========================#

# Максимальный размер загружаемых файлов
PHP_UPLOAD_MAX_FILESIZE=50M

# Максимальный размер POST-запросов
PHP_POST_MAX_SIZE=50M

# Управление режимом работы FastCGI Process Manager (FPM)
# Возможные значения: dynamic | static
PHP_FPM_PM=dynamic       

# Максимальное количество дочерних процессов FPM
PHP_FPM_MAX_CHILDREN=50

# Ограничение оперативной памяти на один процесс PHP
PHP_FPM_MEMORY_LIMIT=256M

#=========================== NGINX CONFIGURATION =======================#

# Максимальный размер тела HTTP-запроса
MAX_BODY_SIZE=100M

# Доменное имя веб-приложения
NGINX_DOMAIN=

#=========================== DATABASE SETTINGS ==========================#

# Путь к БД
DB_DATA_PATH=./data/mysql

# Тип используемого драйвера базы данных (mariadb|mysql|pgsql|sqlite)
DB_CONNECTION=mariadb

# Адрес сервера базы данных
DB_HOST=127.0.0.1

# Порт базы данных
DB_PORT=3306

# Имя базы данных
DB_DATABASE=

# Пользователь базы данных
DB_USERNAME=

# Пароль пользователя базы данных
DB_PASSWORD=

# Пароль администратора базы данных
DB_PASSWORD_ROOT=

#=========================== REDIS CONFIGURATION ========================#

# Путь данных REDIS
REDIS_DATA_PATH=./db/redis

# Хост Redis-сервера
REDIS_HOST=127.0.0.1

# Порт Redis-сервера
REDIS_PORT=6379

# Пароль Redis-сервера (null означает отсутствие пароля)
REDIS_PASSWORD=null


#=========================== LARAVEL APP SETTINGS ======================#

# Полный путь до каталога проекта Laravel
CLIENT_DATA_PATH=/app/laravel

# Окружение приложения (production|staging|local)
APP_ENV=local

# Включить отладочную информацию (true|false)
APP_DEBUG=true

# Базовый URL приложения
APP_URL=

#Язык по умолчанию!
APP_LOCALE=ru

# Метод кеширования данных (file|database|redis)
CACHE_STORE=database

# Используемый драйвер очереди задач (sync|database|redis)
QUEUE_CONNECTION=database

# URL REDIRECT (ГЕНЕРИРУЕТСЯ АВТОМАТИЧЕСКИЙ)
OAUTH_REDIRECT_URI=

# OAUTH ID получать через myidon.site
OAUTH_SECRET=

# OAUTH ID получать через myidon.site
OAUTH_CLIENT_ID=

# Qdrant Vector Database
QDRANT_HOST=http://qdrant:6333
QDRANT_COLLECTION=embeddings
QDRANT_TIMEOUT=30

# POLZA.AI Токен если выхолтите испольpовать

#=========================== LARAVEL REVERB ======================#

# ID приложения
REVERB_APP_ID=

# Ключ
REVERB_APP_KEY=

# ДеБАГ
REVERB_DEBUG=true

REVERB_APP_SECRET=

# ХОСТ (ИП ИЛИ ДОМЕН)
REVERB_HOST=

# Порт
REVERB_PORT=443

# SSL
REVERB_SCHEME=https

# Максимальный размер пакетов 1МБ
REVERB_APP_MAX_MESSAGE_SIZE=1048576

#=========================== QDRANT SETTINGS ======================#

QDRANT_DATA_PATH=./db/qdrant

#=========================== ДЛЯ РАБОТЫ С ОБРАЗАМИ ======================#

USE_REGISTRY_IMAGES=false
PHP_IMAGE_TAG=0.1
OTHER_IMAGE_TAG=0.1