# Сертификаты и конфиг nginx
docker-compose.yml
docker-compose.yml
/configs/nginx/certs/*
/configs/nginx/*.conf
/docker/db/**
# VPN конфиг
/configs/vpn
/db/*
# Логи supervizor
/shared

# Генерируемая структура кода
/project_structure.html

# Игнорируем содержимое директорий backups и extracted
/backups/*
/extracted/*
/differences/*

# Настройки
.env


