networks:
  ${PROJECTNAME}servernet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
          gateway: 172.20.0.1

volumes:
  shared-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PATH_APP_DOCKER_LOGS}

services:

  ### VPNCLIENT ###
  vpn-${PROJECTNAME}:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile_other
    container_name: vpn-${PROJECTNAME}
    environment:
      - PROJECTNAME=${PROJECTNAME}
      - VPN_REQUIRED=${VPN_REQUIRED}
      #- TUN_DEVICE=${TUN_DEVICE}
      #- VPN_READY_FILE=${VPN_READY_FILE}
      #- VPN_ERROR_FILE=${VPN_ERROR_FILE}
      - VPN_USERNAME=${VPN_USERNAME}
      - VPN_PASSWORD=${VPN_PASSWORD}
      - NGINX_DOMAIN=${NGINX_DOMAIN}
      - WEBSSH_DOMAIN=${WEBSSH_DOMAIN}
      - ENABLED_SERVICES=${ENABLED_SERVICES}
    restart: unless-stopped
    user: root
    cap_add:
      - NET_ADMIN
      - MKNOD
    devices:
      - /dev/net/tun:/dev/net/tun 
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.route_localnet=1
    security_opt:
      - "no-new-privileges:false"
    volumes:
      - shared-logs:/var/log/vpn:rw
    command: start-vpn.sh
    networks:
      ${PROJECTNAME}servernet:
        ipv4_address: 172.20.0.11
    healthcheck:
      test: ["CMD", "sh", "/var/scripts/healthcheck-vpn.sh"]
      interval: 60s
      timeout: 20s
      retries: 2
      start_period: 20s

  ### WORKER ###
  worker-${PROJECTNAME}:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile_php
    container_name: worker-${PROJECTNAME}
    working_dir: /var/www/html
    restart: unless-stopped
    environment:
      - PROJECTNAME=${PROJECTNAME}
    volumes:
      - ${CLIENT_DATA_PATH}:/var/www/html:rw,z,cached
      - shared-logs:/var/log/php:rw
      - shared-logs:/var/log/vpn:rw
      - shared-logs:/var/log/worker:rw
      - shared-logs:/var/log/supervisor:rw
    networks:
      ${PROJECTNAME}servernet:
        ipv4_address: 172.20.0.10
    command: start-supervisor.sh
    healthcheck:
      test: ["CMD-SHELL", "supervisorctl status > /var/log/worker/healthcheck.log 2>&1"]
      interval: 30s
      timeout: 10s
      retries: 3
    user: root

  ### NGINX ###
  nginx-${PROJECTNAME}:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile_nginx
    container_name: nginx-${PROJECTNAME}
    cap_add:
      - NET_ADMIN
    ports:
    - "80:80"    # внешний порт 80 -> внутренний 80
    - "443:443"  # внешний порт 443 -> внутренний 443
    environment:
      - PROJECTNAME=${PROJECTNAME}
      - NGINX_DOMAIN=${NGINX_DOMAIN}
      - MAX_BODY_SIZE=${MAX_BODY_SIZE}
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/conf.d

      - WEBSSH_DOMAIN=${WEBSSH_DOMAIN}
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ${CLIENT_DATA_PATH}:/var/www/html:rw,z,cached
      - shared-logs:/var/log/nginx:rw
    networks:
      ${PROJECTNAME}servernet:
        ipv4_address: 172.20.0.12
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "- k -f", "http://localhost/"]  # Попытка получить страницу с кодом <400
      interval: 30s                                   # Интервал повторения проверки
      timeout: 10s                                    # Максимальное время ожидания ответа
      retries: 3                                     # Количество неудачных проверок для отметки unhealthy
      start_period: 10s                              # Время на старт контейнера до начала проверок

  ### PHP ###
  php-${PROJECTNAME}:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile_php
    container_name: php-${PROJECTNAME}
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    volumes:
      # Остальные volume
      - ${CLIENT_DATA_PATH}:/var/www/html:rw,z,cached
      - ${DIR_COPY:-/dev/null}:/var/www/html.copy:rw,z
      - shared-logs:/var/log/php:rw
      - shared-logs:/var/log/vpn:rw
    command: ["start-php.sh"]
    working_dir: /var/www/html
    environment:
      - APP_ENV=${APP_ENV}
      - APP_DEBUG=${APP_DEBUG}
      - APP_URL=${APP_URL}
      - APP_LOCALE=${APP_LOCALE}
      - CACHE_STORE=${CACHE_STORE}
      - PROCESS_TIMEOUT=300
      - PHP_FPM_LISTEN=127.0.0.1:9000

      # Коннект к БД
      - DB_CONNECTION=${DB_CONNECTION}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

      # Qdrant векторная БД
      - QDRANT_HOST=${QDRANT_HOST}
      - QDRANT_COLLECTION=${QDRANT_COLLECTION}
      - QDRANT_TIMEOUT=${QDRANT_TIMEOUT}

      # Для создания резервных файлов
      #- DIR_COPY=${DIR_COPY}

      # Режим запуска
      #- INIT_MODE=${INIT_MODE}

      # Передается для расчета размера максимально файла на отправку
      - MAX_BODY_SIZE=${MAX_BODY_SIZE}

      - PHP_UPLOAD_MAX_FILESIZE=${PHP_UPLOAD_MAX_FILESIZE}
      - PHP_POST_MAX_SIZE=${PHP_POST_MAX_SIZE}
      - PHP_FPM_PM=${PHP_FPM_PM}
      - PHP_FPM_MAX_CHILDREN=${PHP_FPM_MAX_CHILDREN}
      - PHP_FPM_MEMORY_LIMIT=${PHP_FPM_MEMORY_LIMIT}

      - QUEUE_CONNECTION=${QUEUE_CONNECTION}
      
      # Список дополнительно запускаемых сервисов
      - ENABLED_SERVICES=${ENABLED_SERVICES}

      # Внешняя авторизация
      - OAUTH_CLIENT_ID=${OAUTH_CLIENT_ID}
      - OAUTH_SECRET=${OAUTH_SECRET}

      # REVERB
      - REVERB_APP_ID=${REVERB_APP_ID}
      - REVERB_APP_KEY=${REVERB_APP_KEY}
      - REVERB_APP_SECRET=${REVERB_APP_SECRET}
      - REVERB_HOST=${REVERB_HOST}
      - REVERB_PORT=${REVERB_PORT}
      - REVERB_SCHEME=${REVERB_SCHEME}
      - REVERB_APP_MAX_MESSAGE_SIZE=${REVERB_APP_MAX_MESSAGE_SIZE}
    networks:
      ${PROJECTNAME}servernet:
        ipv4_address: 172.20.0.13
        aliases:
          - ${PROJECTNAME}-php
    healthcheck:
      test: ["CMD", "php-fpm", "-t"]
      interval: 10s
      timeout: 5s
      retries: 3

  ### REVERB ###
  reverb-${PROJECTNAME}:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile_php
    container_name: reverb-${PROJECTNAME}
    working_dir: /var/www/html
    restart: unless-stopped
    environment:
      # ID приложения
      - REVERB_APP_ID=${REVERB_APP_ID}
      
      # Ключ
      - REVERB_APP_KEY=${REVERB_APP_KEY}

      # Дебаг режим
      - REVERB_DEBUG=${REVERB_DEBUG:-true}

      # Секрет ключа
      - REVERB_APP_SECRET=${REVERB_APP_SECRET}

      # Хост (IP или домен)
      - REVERB_HOST=${REVERB_HOST}

      # Порт
      - REVERB_PORT=${REVERB_PORT:-443}

      # Протокол связи
      - REVERB_SCHEME=${REVERB_SCHEME:-https}

      # Максимальный размер сообщений
      - REVERB_APP_MAX_MESSAGE_SIZE=${REVERB_APP_MAX_MESSAGE_SIZE:-1048576} # 1 MB
    volumes:
      - ${CLIENT_DATA_PATH}:/var/www/html:rw,z,cached
      - shared-logs:/var/log/reverb:rw
    networks:
      ${PROJECTNAME}servernet:
        ipv4_address: 172.20.0.16
    command: >
      sh -c "
      mkdir -p /var/log/reverb && 
      php artisan reverb:start --host=0.0.0.0 --port=8443 --hostname=${REVERB_HOST} --debug 
      >> /var/log/reverb/server.log 2>&1
      "

  ### QDRANT ###
  qdrant-${PROJECTNAME}:
    image: qdrant/qdrant:v1.8.1  # Актуальная версия
    container_name: qdrant-${PROJECTNAME}
    restart: unless-stopped
    environment:
      - QDRANT__SERVICE__HTTP_PORT=6333  # Порт HTTP API
      - QDRANT__SERVICE__GRPC_PORT=6334  # Порт gRPC (если нужно)
    volumes:
      - ${QDRANT_DATA_PATH}:/qdrant/storage  # Путь для хранения данных
      - shared-logs:/var/log/qdrant:rw
    networks:
      ${PROJECTNAME}servernet:
        ipv4_address: 172.20.0.17
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6333/readyz"]
      interval: 30s
      timeout: 10s
      retries: 3

  ### REDIS ###
  redis-${PROJECTNAME}:
    image: redis:6.2-alpine
    container_name: redis-${PROJECTNAME}
    restart: unless-stopped
    volumes:
      - ${REDIS_DATA_PATH}:/data
      - shared-logs:/var/log/redis:rw
    command:
      - redis-server
      - --save 20 1
      - --loglevel warning
      - --logfile /var/log/redis/redis.log
      - --syslog-enabled no
    networks:
      ${PROJECTNAME}servernet:
        ipv4_address: 172.20.0.15
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  ### MARIADB ###
  mariadb-${PROJECTNAME}:
    image: mariadb:10.8
    container_name: mariadb-${PROJECTNAME}
    working_dir: /var/lib/mysql
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 'no'
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USERNAME}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ${DB_DATA_PATH}:/var/lib/mysql
      - shared-logs:/var/log/mariadb:rw
      - ./configs/mariadb/conf.d:/etc/mysql/conf.d:ro
    networks:
      ${PROJECTNAME}servernet:
        ipv4_address: 172.20.0.14
    restart: unless-stopped